/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-10-17 15:20:10
 * @LastEditTime: 2019-10-17 15:20:13
 * @LastEditors: jiannan.lv
 */
.sub-header {
  background: rgba(154, 201, 244, 0.8);
  color: #000;
  font-weight: bolder;
  height: 26px;
  line-height: 26px;
  padding-left: 10px;
}
