/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-10-17 15:20:10
 * @LastEditTime: 2019-10-17 15:20:13
 * @LastEditors: jiannan.lv
 */
.sub-header {
  background: #44a2f8;
  color: #000;
  height: 26px;
  line-height: 26px;
  opacity: 0.5;
  padding-left: 10px;
}