/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-10-17 14:56:51
*@LastEditTime: 2019-10-28 10:23:52
*@LastEditors: jiannan.lv
 */
.mock-list {
  width: 100%;
  .search-wrap {
    position: relative;
    .ivu-input-wrapper {
      margin-right: 10px;
    }
    .add-new-user {
      background-color: #2d8cf0;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 60px;
    }
  }
  .ivu-table-cell {
    .mark-div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .operate-span {
      color: #3c8fee;
      cursor: pointer;
      margin-right: 10px;
    }
  }
  .page-div {
    margin-top: 15px;
  }
}
