/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-06-27 11:13:19
 * @LastEditTime: 2019-07-01 18:57:29
 * @LastEditors: jiannan.lv
 */
.drag-list {
  border-right: 1px solid #ccc;
  background: rgba(154, 201, 244, 0.2);
  height: 100%;
  left: -200px;
  padding-top: 10px;
  position: absolute;
  top: 0;
  width: 200px;
  z-index: 3;
  transition-duration: 1s;
  &.open-drag-list {
    left: 0px;
  }
  .iconfont {
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: -21px;
    text-align: center;
    top: 0px;
    width: 21px;
    &.iconclose {
      right: 0;
    }
  }
  .drag-item-list {
    .model-wrap {
      padding: 0 0 10px 15px;
      .model-title {
        border-left: 2px solid green;
        color: #666;
        font-weight: bold;
        height: 22px;
        line-height: 22px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      .item-list {
        span {
          border: 1px solid #ccc;
          cursor: pointer;
          display: inline-block;
          height: 20px;
          line-height: 20px;
          text-align: center;
          width: 80px;
        }
        img {
          cursor: pointer;
          height: 40px;
          margin-right: 15px;
          width: 40px;
        }
      }
    }
  }
}
