/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-06-27 11:46:23
 * @LastEditTime: 2019-06-27 15:37:40
 * @LastEditors: jiannan.lv
 */
.drag-region {
  background: #eef2f5;
  height: 100%;
  padding: 20px 0 0 20px;
  position: relative;
  width: 100%;
}