/*
 * @Description: 
 * @Author: jiannan.lv
 * @Date: 2019-07-03 11:23:40
 * @LastEditTime: 2019-07-03 13:32:42
 * @LastEditors: jiannan.lv
 */
.tools-wrap {
  background: #fff;
  position: absolute;
  right: 5px;
  top: 20px;
  z-index: 10;

  >ul {
    overflow: hidden;

    >li {
      cursor: pointer;
      float: left;
      height: 26px;
      line-height: 26px;
      text-align: center;
      width: 26px;

      >i {
        cursor: pointer;
      }
      &.line-draw-active {
        background: #354157;
        color: #fff;
      }
    }
  }
}